.the-navigation {
  $thenavigation: &;

  width: 100%;

  &__logo {
    img {
      max-width: px2rem(120);
      transition: max-width .4s $a-ease-out;

      @include breakpoint('only-phone') {
        max-width: px2rem(120);
      }

      @include breakpoint('tablet-pt') {
        max-width: px2rem(150);
      }
    }
  }

  &__content {
    li {
      + li {
        @include breakpoint('only-phone') {
          &:not(#{$thenavigation}__mobile-trigger) {
            margin-top: px2rem($base * 3);
          }
        }
      }
    }
  }

  &__search {
    background: red;

    @include breakpoint('only-phone') {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;

      transform: translateY(100%);
    }
  }

  &__mobile-trigger {
    display: flex;
    height: px2rem($base * 8);
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: px2rem($base * 8);
  }
}