.the-navigation {
  @include expand(
    $duration: .4s
  );
  
  $thenavigation: &;
  width: 100%;

  &__logo {
    img {
      max-width: px2rem(120);
      transition: max-width .4s $a-ease-out;

      @include breakpoint('only-phone') {
        max-width: px2rem(120);
      }

      @include breakpoint('tablet-pt') {
        max-width: px2rem(150);
      }
    }
  }

  &__content {
    li {
      + li {
        @include breakpoint('only-phone') {
          &:not(#{$thenavigation}__mobile-trigger) {
            &:not(#{$thenavigation}__search) {
              margin-top: px2rem($base * 3);
            }
          }
        }
      }
    }
  }

  &__search {
    @include breakpoint('only-phone') {
      @include keyAnimation(appear) {
        0% { height: 0px; }
        100% { height: px2rem($base * 12); }
      };

      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      width: 100%;

      background: rgba($c-gray-300, .8);
      transform: translateY(100%);

      animation-name: appear;
      animation-duration: .4s;
      animation-timing-function: $a-ease-out;
      animation-fill-mode: forwards;

      > * {
        margin: px2rem($base * 2);
      }
    }
  }

  &__mobile-trigger {
    display: flex;
    height: px2rem($base * 8);
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: px2rem($base * 8);
  }
}