.the-navigation {
  @include ANM-expand(
    $duration: 1.2s
  );
  
  @include ANM-move(
    $name: 'loading',
    $from: translateX(10%),
    $to: translateX(10%)
  );
  
  $thenavigation: &;
  width: 100%;

  &__logo {
    img {
      max-width: px2rem(120);
      transition: max-width .4s $a-ease-out;

      @include breakpoint('only-phone') {
        max-width: px2rem(120);
      }

      @include breakpoint('tablet-pt') {
        max-width: px2rem(150);
      }
    }
  }

  &__content {
    > li {
      flex: 1;

      + li {
        @include breakpoint('only-phone') {
          &:not(#{$thenavigation}__mobile-trigger) {
            &:not(#{$thenavigation}__search) {
              margin-top: px2rem($base * 3);
            }
          }
        }
      }

      &#{$thenavigation}__search {
        flex: 2;

        @include breakpoint('tablet-ld') {
          flex: 0 0 30%;
        }
      }
    }
  }

  &__search {
    @include breakpoint('only-phone') {
      @include keyAnimation(appear) {
        0% {
          height: 0px;
          opacity: 0;
      }
        100% {
          height: px2rem($base * 15);
          opacity: 1;
        }
      };

      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;

      background: rgba($c-gray-300, .8);
      transform: translateY(100%);

      animation-name: appear;
      animation-duration: .4s;
      animation-timing-function: $a-ease-out;
      animation-fill-mode: forwards;

      > * {
        margin: px2rem($base * 2);
      }
    }
  }

  &__mobile-trigger {
    display: flex;
    height: px2rem($base * 8);
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: px2rem($base * 8);
  }

  // FORCE USER MESSAGE
  // ANIMATION TIMING
  .user-message {
    &.expand-leave-active {
      transition-duration: 0s;
    }

    &.expand-enter-active {
      transition-duration: .6s;
    }
  }
}