.base-input {
  $baseinput: &;
  @include text--regular;

  display: flex;
  position: relative;
  width: 100%;
  
  &__label {
    align-items: center;
    display: flex;
    padding: 0 px2rem($base * 3);
    position: relative;
    width: 100%;

    background: $c-white;
    border: 1px solid $c-gray-300;
    border-radius: px2rem($base);
    z-index: 1;
    
    transition: border .4s $a-ease-out,
                background .4s $a-ease-out;

    // HOVER STATE
    &:not(:focus-within) {
      @include breakpoint('tablet-ld') {
        &:hover {
          background: $c-gray-300;
          border: 1px solid $c-gray-600;

          #{$baseinput}__field {
            color: $c-gray-700
          }
        }
      }
    }
    // ---

    // FOCUS STATE
    &:focus-within {
      border: 1px solid $c-core-orange;
      box-shadow: 0px 0px px2rem($base + 3) rgba(255, 115, 0, 0.2);

      .base-icon {
        fill: $c-core-orange
      }
    }
    // ---
  }

  &__field {
    @include text--medium;
    @include text--regular;

    padding: px2rem($base * 3) 0;
    width: 100%;

    background: none;
    border: none;
    color: $c-gray-600;

    transition: color .4s $a-ease-out
  }

  // DATA LIST RESULTS
  &__results {
    bottom: 0;
    position: absolute;
    width: 100%;

    background: $c-white;
    border: 1px solid $c-gray-300;
    border-bottom-left-radius: px2rem($base - 1);
    border-bottom-right-radius: px2rem($base - 1);
    z-index: 0;

    transform: translateY(100%) translateY(-3px)
  }
  // --

  &__required-label {
    @include text--xxsmall;
    align-self: flex-end;
    color: $c-gray-300;
  }
}
