@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

* {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: $c-core-orange;
    color: $c-white
  }
}

html,
body {
  color: $c-gray-600;
}

html,
body,
#app {
  @include text--regular;
  @include text--medium;
	padding: 0;
	margin: 0;
}

#app {
  height: 100vh;
}