@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

* {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: $c-core-orange;
    color: $c-white
  }
}

html,
body {
  color: $c-gray-600;
}

html,
body,
#app {
  @include text--regular;
  @include text--medium;
	padding: 0;
	margin: 0;
}

.app {
  @include ANM-move(
    $name: 'main-content',
    $from: translateY(5%),
    $to: translateY(5%),
    $duration: .4s
  );

  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header,
  &__main,
  &__footer {
    padding: 0 px2rem($base * 4);
    width: 100%;
  }

  &__header {
    align-items: center;
    flex: 0 0 px2rem($base * 12);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;

    background: $c-white;
    box-shadow: 0px px2rem($base - 2) px2rem($base) 0px rgba(0,0,0,0.1);

    @include breakpoint('only-phone') {
      flex: 0 0 px2rem($base * 8);
    }

    @include breakpoint('tablet-pt') {
      border-bottom: 1px solid $c-gray-300;
    }
  }

  &__main {
    flex: 2;
    padding: px2rem($base * 4);

    background: $c-core-blue;
  }

  &__footer {
    border-top: 1px solid $c-gray-300;
  }
}

.loader {
  height: px2rem($base * 6);
  width: px2rem($base * 6);
}

.highlight {
  @include text--bold;
  color: $c-core-blue;
}

.small {
  @include text--xxsmall;
  color: $c-gray-600;
}